<nav>
    <a href="/">Home</a> |
    <a href="/organizations">Organizations</a> |
    <a href="/users">Users</a> |
    <a href="/subscriptions">Subscriptions</a> | 
    <a href="/languageModels">Language Models</a> | 
    <a href="/subscriptionLanguageModels">Subscriptions - Language Models</a>
</nav>
<br>
