<nav>
    <a href="/">Home</a> |
    <a href="organizations.html">Organizations</a> |
    <a href="/users">Users</a> |
    <a href="subscriptions.html">Subscriptions</a> | 
    <a href="languageModels.html">Language Models</a> | 
    <a href="subscriptionLanguageModels.html">Subscriptions - Language Models</a>
</nav>
<br>
