<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>LLM Subscription Manager</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <script language="JavaScript">
        function showModels(action) {
            if (action == 'show'){
                document.getElementById('userModelsTable').style.display = 'block';
            } else {
                document.getElementById('userModelsTable').style.display = 'none';
            }
        }
    </script>
</head>
<body>

    {{{body}}}

</body>
</html>