{{!-- 
Citation
Handlebars in main.hbs and app.js for setting up express-handlebars
Adapted from Step 3 - Used main.hbs as a guide to create our hbs files
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
Date: 05/24/2024 
--}}

<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>LLM Subscription Manager</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <script language="JavaScript">
        function showModels(action) {
            if (action == 'show'){
                document.getElementById('userModelsTable').style.display = 'block';
            } else {
                document.getElementById('userModelsTable').style.display = 'none';
            }
        }
    </script>
</head>
<body>

    {{{body}}}

</body>
</html>