
<header>
    <h1>Edit Organization</h1>
</header>
{{> nav}}
<main>
    <section id="insert">
        <h2>Add a New Organization</h2>
        <form action="/organizations" method="post">
            <fieldset>
                <legend>Organization Details:</legend>
                <label for="organizationName">Name</label>
                <input type="text" id="organizationName" name="organizationName"><br><br>

                <label for="organizationDescription">Description</label><br>
                <textarea id="organizationDescription" name="organizationDescription"></textarea><br><br>

                <label for="subscription">Subscription</label>
                <select name="subscription" id="subscription">
                    <option value="0">&nbsp;</option>
                    <option value="1">CRL</option>
                    <option value="2">ESL</option>
                    <option value="3">RAC</option>
                </select>
            </fieldset>
            <br>
            <input type="submit" value="Add Organization">
        </form>
    </section>
    <section id="update">
        <h2>Update Existing Organization</h2>
        <form action="/organizations/update" method="post">
            <fieldset>
                <legend>Update Organization</legend>
                <label for="organizationID">Organization ID</label>
                <select id="organization" name="organizationID">
                    <option value="0">&nbsp;</option>
                    <option value="1">Combustion Research Lab</option>
                    <option value="2">Energy and Sustainability Lab</option>
                    <option value="3" selected>RRC AI Club</option>
                </select>

                <label for="organizationName">Name</label>
                <input type="text" id="organizationName" name="organizationName" value="RRC AI Club"><br><br>

                <label for="organizationDescription">Description</label><br>
                <textarea id="organizationDescription" name="organizationDescription">Student organization focused on Artificial Intelligence</textarea><br><br>

                <label for="subscription">Subscription</label>
                <select name="subscription" id="subscription">
                    <option value="0">&nbsp;</option>
                    <option value="1">CRL</option>
                    <option value="2">ESL</option>
                    <option value="3" selected>RAC</option>
                </select>
            </fieldset>
            <br>
            <input type="submit" value="Update Organization">
        </form>
    </section>
    <section id="delete">
        <h2>Delete an Organization</h2>
        <form action="/organizations/delete" method="post">
            <fieldset>
                <legend>Delete Organization</legend>
                <label for="organizationID">Organization ID</label>
                <select name="organizationID">
                    <option value="0">&nbsp;</option>
                    <option value="1">1. Combustion Research Lab</option>
                    <option value="2" selected>2. Energy and Sustainability Lab</option>
                    <option value="3">3. RRC AI Club</option>
                </select>
            </fieldset>
            <br>
            <input type="submit" value="Delete Organization">
        </form>
    </section>
</main>
