<!-- index.hbs -->
<header>
    <h1>LLM Subscription Manager</h1>
</header>
{{> nav}}
    <main>
        <h2>Overview</h2>
        <p>
            LLM Subscription Manager is an application designed to support the LLM needs of organizations and users. This app allows users of organizations to choose between different language models (such as APIs from OpenAI, Claude, open source models running locally, etc.) in a subscription-based model.
            The system is implemented to manage subscriptions by allocating funds to users in the form of credits, which can then be spent on queries to the LLM of their choice. By tracking the model usage of each user and organization, it allows them to optimize the cost using the subscription of their choice.
        </p>
    </main>