<header>
    <h1>Language Models</h1>
</header>
{{> nav}}
<main>
    <section>
        <h2>Browse Language Models</h2>
        <a href="/languageModels/edit">Add or Edit Language Models</a>
        <table>
            <thead>
                <tr>
                    <th>languageModelID</th>
                    <th>modelName</th>
                    <th>modelDescription</th>
                    <th>creditsPerToken</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>gpt-4-turbo</td>
                    <td>General knowledge and domain expertise with vision model</td>
                    <td>3</td>
                    <td><a href="/languageModels/edit#update">edit</a></td>
                    <td><a href="/languageModels/edit#delete">delete</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>gpt-3.5 turbo</td>
                    <td>Cost effective, general knowledge</td>
                    <td>1</td>
                    <td><a href="/languageModels/edit#update">edit</a></td>
                    <td><a href="/languageModels/edit#delete">delete</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>DALLE 3</td>
                    <td>Generates images and art</td>
                    <td>1</td>
                    <td><a href="/languageModels/edit#update">edit</a></td>
                    <td><a href="/languageModels/edit#delete">delete</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>tts</td>
                    <td>Text to speech converter</td>
                    <td>10</td>
                    <td><a href="/languageModels/edit#update">edit</a></td>
                    <td><a href="/languageModels/edit#delete">delete</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>whisper</td>
                    <td>Speech to text converter</td>
                    <td>10</td>
                    <td><a href="/languageModels/edit#update">edit</a></td>
                    <td><a href="/languageModels/edit#delete">delete</a></td>
                </tr>
            </tbody>
        </table>
    </section>
</main>