<header>
    <h1>Organizations</h1>
</header>
{{> nav}}
<main>
    <section>
        <h2>Browse Organizations</h2>
        <a href="/organizations/edit">Add or Edit Organizations</a>
        <table>
            <thead>
                <tr>
                    <th>organizationID</th>
                    <th>organizationName</th>
                    <th>organizationDescription</th>
                    <th>subscriptionID</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Combustion Research Lab</td>
                    <td>Combustion, particulate emissions, nanomaterial synthesis</td>
                    <td>1</td>
                    <td><a href="/organizations/edit#update">edit</a></td>
                    <td><a href="/organizations/edit#delete">delete</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Energy and Sustainability Lab</td>
                    <td>Research lab in the Engineering department focused on green energy</td>
                    <td>2</td>
                    <td><a href="/organizations/edit#update">edit</a></td>
                    <td><a href="/organizations/edit#delete">delete</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>RRC AI Club</td>
                    <td>Student organization focused on Artificial Intelligence</td>
                    <td>3</td>
                    <td><a href="/organizations/edit#update">edit</a></td>
                    <td><a href="/organizations/edit#delete">delete</a></td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
