
<header>
    <h1>Subscriptions - Language Models</h1>
</header>
{{> nav}}
<main>
    <section>
        <h2>Browse Subscriptions - Language Models</h2>
        <a href="/subscriptionLanguageModels/edit">Add or Edit Subscriptions - Language Models</a>
        <table>
            <thead>
                <tr>
                    <th>subscriptionLanguageModelID</th>
                    <th>subscriptionID</th>
                    <th>languageModelID</th>
                    <th>Subscription</th>
                    <th>Model Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>CRL</td>
                    <td>gpt-3.5 turbo</td>
                    <td><a href="/subscriptionLanguageModels/edit#update">edit</a></td>
                    <td><a href="/subscriptionLanguageModels/edit#delete">delete</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2</td>
                    <td>1</td>
                    <td>ESL</td>
                    <td>gpt-4-turbo</td>
                    <td><a href="/subscriptionLanguageModels/edit#update">edit</a></td>
                    <td><a href="/subscriptionLanguageModels/edit#delete">delete</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>4</td>
                    <td>RAC</td>
                    <td>gpt-4-turbo</td>
                    <td><a href="/subscriptionLanguageModels/edit#update">edit</a></td>
                    <td><a href="/subscriptionLanguageModels/edit#delete">delete</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>3</td>
                    <td>1</td>
                    <td>RAC</td>
                    <td>whisper</td>
                    <td><a href="/subscriptionLanguageModels/edit#update">edit</a></td>
                    <td><a href="/subscriptionLanguageModels/edit#delete">delete</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>3</td>
                    <td>5</td>
                    <td>barnes-indv</td>
                    <td>tts</td>
                    <td><a href="/subscriptionLanguageModels/edit#update">edit</a></td>
                    <td><a href="/subscriptionLanguageModels/edit#delete">delete</a></td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
